# not sure which one doesn't commit the node modules
*node_modules
client/node_modules
node_modules
client/node_modules/

#webstorm files
.idea

# dotenv files
.env
*.env

# scripting files
.sh
*.sh

# text files
.txt
*.txt
